<%= form_for(@eleitor) do |f| %>
  <% if @eleitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eleitor.errors.count, "error") %> prohibited this eleitor from being saved:</h2>

      <ul>
      <% @eleitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.number_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.number_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
