<%= form_for @voto, :html => { :class => "form-horizontal voto" } do |f| %>

    <% if @voto.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@voto.errors.count, "error") %> prohibited this voto from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @voto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :data, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :data, :class => 'form-control' %>
    </div>
    <%= error_span(@voto[:data]) %>
  </div>
  <div class="control-group">
    <%= f.label :eleitor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :eleitor_id, :class => 'form-control' %>
    </div>
    <%= error_span(@voto[:eleitor_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :candidato_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :candidato_id, :class => 'form-control' %>
    </div>
    <%= error_span(@voto[:candidato_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            votos_path, :class => 'btn btn-default' %>

<% end %>
